.collection-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 28px;
        margin: 20px auto 5px;
        cursor: pointer;
    }

    .items {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        & .collection-item {
            margin-bottom: 30px;
        }
        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
}
